@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html, body {
  height: 100%;
}

.button {
  width: 114px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #00CFD7;
  background-color: #00D7B4;
  border-radius: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  line-height: 17px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button {
    height: 22px;
    width: 76px;
    font-size: 10px;
    line-height: 11px;
  }
}

.button_inverse {
  background-color: transparent;
  border-color: #58626B;
  color: gray;
}

.container__footer {
  position: fixed;
  bottom: 0;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 7px 10px;
  }
}

.footer__logo {
  width: 174px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 23px;
  background-color: #C4C4C4;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .footer__logo {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    font-size: 12px;
    width: 75px;
  }
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@media screen and (max-width: 768px) {
  .footer__buttons {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.footer__item {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .footer__item {
    margin-left: 0;
  }
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__timer {
  width: 104px;
  height: 31px;
  border: 1px solid #00CFD7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #00CFD7;
  font-weight: normal;
  line-height: 21px;
  border-radius: 15px;
}

.circle {
  width: 31px;
  height: 31px;
  background-color: #00CFD7;
  border: 1px solid #00CFD7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.circle_disable {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.circle_disable .circle__img > svg * {
  fill: rgba(0, 0, 0, 0.5);
}

.circle_red {
  background-color: #EF2F2F;
  border-color: #EF2F2F;
}

.circle__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-card {
  width: 310px;
  height: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.video-card_small {
  width: 214px;
  height: 170px;
}

.video-card_small .video-card__name {
  height: 26px;
}

.video-card_small .video-card__name-text {
  font-size: 12px;
}

.video-card_small .video-card__img {
  width: 15px;
}

.video-card_middle {
  width: 780px;
  height: 400px;
}

.video-card_middle .video-card__name {
  width: 250px;
  height: 32px;
  left: 13px;
  bottom: 9px;
}

.video-card_middle .video-card__micro {
  top: 20px;
  right: 20px;
}

.video-card_big {
  width: 780px;
  height: 825px;
}

.video-card_big .video-card__name {
  width: 250px;
  height: 32px;
  left: 10px;
  bottom: 10px;
}

.video-card_big .video-card__micro {
  top: 20px;
  right: 20px;
}

.video-card_large {
  width: 950px;
  height: 620px;
}

.video-card_large .video-card__name {
  width: 300px;
  height: 36px;
  left: 10px;
  bottom: 10px;
}

.video-card_large .video-card__micro {
  top: 20px;
  right: 20px;
}

.video-card_super-large {
  width: 1356px;
  height: 825px;
}

.video-card_super-large .video-card__name {
  width: 300px;
  height: 36px;
  left: 10px;
  bottom: 10px;
}

.video-card_super-large .video-card__micro {
  top: 20px;
  right: 20px;
}

.video-card__video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.video-card__video img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-card__name {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 9px;
  background-color: #F7A321;
}

.video-card__img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-card__name-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  line-height: 16px;
}

.video-card__micro {
  position: absolute;
  top: 10px;
  right: 10px;
}

.video-body {
  background-color: #EDE8E5;
  padding: 15px 45px 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}

@media screen and (max-width: 1023px) {
  .video-body {
    padding: 15px 10px 80px;
  }
}

@media screen and (max-width: 480px) {
  .video-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.video-body_timer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .video-body_timer {
    padding: 0;
  }
}

.video-body__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.video-body__videos_large-and-kids .video-card_large {
  width: 58.3%;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_large-and-kids .video-card_large {
    width: 55.8%;
  }
}

@media screen and (max-width: 1023px) {
  .video-body__videos_large-and-kids .video-card_large {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_large-and-kids .video-card_large {
    height: 544px;
    width: 70%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_large-and-kids .video-card_large .video-card__name {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

.video-body__videos_large-and-kids .video-body__item:not(.video-card_large) {
  width: 19%;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_large-and-kids .video-body__item:not(.video-card_large) {
    width: 18%;
  }
}

@media screen and (max-width: 1023px) {
  .video-body__videos_large-and-kids .video-body__item:not(.video-card_large) {
    width: 23%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_large-and-kids .video-body__item:not(.video-card_large) {
    height: 85px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.video-body__videos_large-and-kids .video-body__col {
  width: 19%;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_large-and-kids .video-body__col {
    width: 18%;
  }
}

@media screen and (max-width: 1023px) {
  .video-body__videos_large-and-kids .video-body__col {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 23%;
  }
}

.video-body__videos_large-and-kids .video-body__col .video-body__item {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .video-body__videos_large-and-kids .video-card__name {
    height: 22px;
  }
}

@media screen and (max-width: 1279px) {
  .video-body__videos_large-and-kids .video-card__name-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_large-and-kids .video-card__name-text {
    font-size: 10px;
    line-height: 10px;
  }
}

.video-body__videos_large-and-kids .video-card__img {
  width: 12px;
}

.video-body__videos_duo {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
  .video-body__videos_duo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.video-body__videos_duo .video-body__item {
  width: 50%;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .video-body__videos_duo .video-body__item {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_duo .video-body__item {
    width: 100%;
  }
}

.video-body__videos_duo .video-card__name {
  width: 194px;
}

.video-body__videos_four {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.video-body__videos_four .video-body__item {
  width: 47.5%;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}

@media screen and (max-width: 768px) {
  .video-body__videos_four .video-body__item {
    height: 157px;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_four .video-body__item {
    height: 290px;
    width: 46%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_four .video-card__name {
    width: 100%;
    left: 0;
    bottom: 1px;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_four .video-card__name-text {
    font-size: 12px;
    line-height: 12px;
  }
}

.video-body__videos_super-large-and-kids .video-card_super-large {
  width: 78%;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_super-large-and-kids .video-card_super-large {
    width: 74%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-card_super-large {
    width: 71.5%;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_super-large-and-kids .video-card_super-large {
    height: 370px;
    width: 71%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-card_super-large .video-card__name {
    width: 100%;
    left: 0;
    bottom: 1px;
  }
}

.video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) {
  width: 19%;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) {
    width: 18%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) {
    width: 23%;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) {
    height: 85px;
    width: 22%;
  }
}

@media screen and (max-width: 1023px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__name-text {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__name-text {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__name {
    height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__name {
    padding: 1px;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__img {
    width: 15px;
  }
}

@media screen and (max-width: 480px) {
  .video-body__videos_super-large-and-kids .video-body__item:not(.video-card_super-large) .video-card__img {
    margin: 0;
  }
}

.video-body__videos_super-large-and-kids .video-body__col {
  width: 19%;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1279px) {
  .video-body__videos_super-large-and-kids .video-body__col {
    width: 18.5%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__videos_super-large-and-kids .video-body__col {
    width: 23%;
  }
}

.video-body__videos_super-large-and-kids .video-body__col .video-body__item {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.video-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .video-body__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 546px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.video-body__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.video-body__side-info {
  width: 308px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 480px) {
  .video-body__side-info {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 20px;
  }
}

.side-info {
  overflow-y: scroll;
  padding-right: 14px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 700px;
}

.side-info::-webkit-scrollbar {
  width: 4px;
}

@media screen and (max-width: 480px) {
  .side-info::-webkit-scrollbar {
    width: auto;
  }
}

.side-info::-webkit-scrollbar-track {
  background-color: #C4C4C4;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .side-info::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
  }
}

.side-info::-webkit-scrollbar-thumb {
  background-color: #58626B;
  border-radius: 2px;
  height: 100px;
}

@media screen and (max-width: 480px) {
  .side-info::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@media screen and (max-width: 480px) {
  .side-info {
    width: 100%;
    padding: 0 10px;
  }
}

.side-info__heading {
  margin-top: 15px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #58626B;
  font-weight: bold;
  line-height: 21px;
}

.side-info__text {
  margin-top: 37px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #58626B;
  font-weight: normal;
  line-height: 17px;
  text-align: justify;
  opacity: 0.8;
}

.side-info__footer {
  border-top: 3px solid #C69776;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px;
}

.side-info__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px 10px;
}

.side-info__file-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.side-info__file-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #58626B;
  font-weight: normal;
  line-height: 17px;
  margin-top: 5px;
}

.video-body__item {
  margin: 5px 5px;
  width: 23.7%;
}

@media screen and (max-width: 1023px) {
  .video-body__item {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .video-body__item {
    width: 100%;
  }
}

.container__modal {
  width: 100%;
  height: calc(100% - 65px);
  background-color: #777370;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .container__modal {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.modal {
  width: 580px;
  padding: 20px 28px 40px 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    padding: 13px 20px 26px 28px;
  }
}

.modal__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__info-img-wrap {
  margin-right: 15px;
  height: 51px;
  width: 51px;
  border: 2px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #fff;
  padding: 4px;
}

@media screen and (max-width: 768px) {
  .modal__info-img-wrap {
    width: 36px;
    height: 36px;
    margin-right: 7px;
  }
}

.modal__info-img-wrap_red {
  border-color: #EF2F2F;
}

.modal__info-img-wrap_red .modal__info-img {
  background-color: #EF2F2F;
}

.modal__info-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .modal__info-img {
    font-size: 22px;
  }
}

.modal__info-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #58626B;
  font-weight: bold;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
  .modal__info-text {
    font-size: 14px;
  }
}

.modal__timer {
  width: 77px;
  height: 32px;
  border: 1px solid #00CFD7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #00CFD7;
  font-weight: normal;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
  .modal__timer {
    height: 26px;
    font-size: 12px;
    line-height: 14px;
    width: 52px;
  }
}

.modal__description {
  margin-top: 10px;
  margin-left: 66px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 17px;
  color: #58626B;
  font-weight: normal;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .modal__description {
    margin-left: 42px;
    font-size: 12px;
    line-height: 13px;
  }
}

.modal__clients-list {
  margin-top: 22px;
  margin-left: 66px;
}

@media screen and (max-width: 768px) {
  .modal__clients-list {
    margin-left: 42px;
  }
}

.clients-list__client {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list__client-img {
  width: 51px;
  height: 51px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .clients-list__client-img {
    width: 34px;
    height: 34px;
  }
}

.clients-list__client-img img {
  width: 100%;
  height: 100%;
}

.clients-list__client-desc {
  padding-top: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .clients-list__client-desc {
    padding: 0;
  }
}

.clients-list__client-name {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
  .clients-list__client-name {
    font-size: 12px;
    line-height: 14px;
  }
}

.clients-list__client-rank {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 13px;
  color: #58626B;
  font-weight: normal;
  line-height: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .clients-list__client-rank {
    font-size: 9px;
    line-height: 10px;
  }
}

.clients-list__appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.clients-list__appear_red .clients-list__appear-text {
  color: #EF2F2F;
}

.clients-list__appear_red .clients-list__appear-button {
  background-color: #EF2F2F;
}

.clients-list__appear-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #00CFD7;
  font-weight: normal;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
  .clients-list__appear-text {
    font-size: 12px;
    line-height: 14px;
  }
}

.clients-list__appear-button {
  width: 19px;
  height: 19px;
  background-color: #00D7B4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .clients-list__appear-button {
    width: 13px;
    height: 13px;
  }
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 66px;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .modal__buttons {
    margin-left: 42px;
  }
}

.modal__button:first-child {
  margin-right: 30px;
}

.container__modal-end {
  position: fixed;
  bottom: 75px;
  right: 0;
  width: 354px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 34px 23px;
  background-color: #fff;
  border-radius: 14px 0 0 14px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #58626B;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  z-index: 2;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timer__heading {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #58626B;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .timer__heading {
    font-size: 35px;
  }
}

.timer__time {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 150px solid transparent;
  border-top: 150px solid #F7A321;
  border-left: 150px solid #F7A321;
  border-bottom: 150px solid #F7A321;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .timer__time {
    -webkit-transform: none;
    transform: none;
  }
}

.timer__text {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 57px;
  color: #58626B;
  font-weight: bold;
  line-height: 65px;
}

@media screen and (max-width: 480px) {
  .timer__text {
    -webkit-transform: none;
    transform: none;
  }
}

/*# sourceMappingURL=main.css.map */
