@import "settings/color"
@import "settings/font"
@import "tools/mixin"
@import "tools/media"

.container__video-body

.video-body
  background-color: $beige
  height: calc(100% - 65px)
  padding: 15px 45px
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-items: flex-start
  align-content: flex-start
  flex-wrap: wrap
  &_timer
    justify-content: center
    align-content: center
    height: 100%

.video-body__item
  margin: 15px 5px