@import "settings/color"
@import "settings/font"
@import "tools/mixin"
@import "tools/media"

.container__video-body

.video-body
  background-color: $beige
  padding: 5px 5px 70px
  height: 100%
  overflow-y: hidden
  box-sizing: border-box
  display: flex
  min-height: 100%
  @include tablet
    padding: 0 0 65px
  &_timer
    justify-content: center
    align-content: center
    height: 100%
    width: 100%
    @include tablet
      padding: 0

.video-body__videos
  display: flex
  align-items: flex-start
  align-content: flex-start
  flex-wrap: wrap
  height: 100%
  width: 100%
  &_2
    display: flex
    position: relative
    justify-content: flex-start
    .video-body__item
      width: calc(100% / 2 - 10px)
      height: calc(100% - 10px)
      @include mobile
        width: calc(100% - 10px)
        height: calc(100% / 2 - 10px)
    .video-card__name
      width: 235px
      bottom: 7px
      left: 10px
      height: 26px
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
      @include mobile
        width: 200px
  &_3
    display: flex
    justify-content: space-around
    .video-body__item
      width: calc(100% / 2 - 10px)
      height: calc(100% / 2 - 10px)
      @include mobile-landscape
        width: calc(100% / 3 - 10px)
        height: calc(100% - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 2 - 10px)
    .video-card__name
      width: 250px
      bottom: 7px
      left: 10px
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_4
    .video-body__item
      width: calc(100% / 2 - 10px)
      height: calc(100% / 2 - 10px)
    .video-card__name
      width: 250px
      bottom: 7px
      left: 10px
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_5
    justify-content: space-around
    @include mobile-landscape
      flex-direction: column
    .video-body__item
      width: calc(100% / 2 - 10px)
      height: calc(100% / 3 - 10px)
      @include mobile-landscape
        width: calc(100% /3 - 10px)
        height: calc(100% / 2 - 10px)
        &:last-child
          flex-grow: 1
    .video-card__name
      width: 250px
      bottom: 7px
      left: 10px
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_6
    .video-body__item
      height: calc(100% / 2 - 10px)
      @include tabletSmall
        width: calc(100% / 2 - 10px)
        height: calc(100% / 3 - 10px)
      @include mobile-landscape
        width: calc(100% / 3 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 3 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_7
    @include mobile-landscape
      flex-direction: column
      justify-content: center
      > div:last-child
        flex-grow: 1
    @include mobile
      justify-content: space-around
    .video-body__item
      height: calc(100% / 2 - 10px)
      @include mobile-landscape
        width: calc(100% / 4 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 4 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_8
    @include mobile
      justify-content: space-around
    .video-body__item
      height: calc(100% / 2 - 10px)
      @include mobile-landscape
        width: calc(100% / 4 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 4 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_9
    @include mobile-landscape
      flex-direction: column
      justify-content: center
    @include mobile
      flex-direction: row
      justify-content: space-around
    .video-body__item
      width: calc(100% / 3 - 10px)
      height: calc(100% / 3 - 10px)
      @include mobile-landscape
        width: calc(100% / 5 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 5 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_10
    justify-content: center
    @include mobile
      justify-content: space-around
    .video-body__item
      @include mobile-landscape
        width: calc(100% / 5 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 5 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_11
    justify-content: center
    @include mobile
      justify-content: space-around
    .video-body__item
      @include mobile-landscape
        width: calc(100% / 6 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 6 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_12
    @include mobile
      justify-content: space-around
    .video-body__item
      @include mobile-landscape
        width: calc(100% / 6 - 10px)
        height: calc(100% / 2 - 10px)
      @include mobile
        width: calc(100% / 2 - 10px)
        height: calc(100% / 6 - 10px)
    .video-card__name
      @include tabletSmall
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
  &_side
    @include mobile
      display: none
  &_active#{&}_2
    display: flex
    .video-body__item
      height: calc(100% / 4 - 10px)
      width: calc(100% - 10px)
      @include mobile-landscape
        height: calc(100% - 10px)
      @include mobile
        height: calc(100% / 2 - 10px)
        width: calc(100% - 10px)
    .video-card__name
      width: calc(100% - 2px)
      left: 1px
      bottom: 1px
    + .video-body__selected-item
      @include tabletSmall
        width: 70%
      @include mobile
        width: calc(100% - 10px)
    @include mobile
      position: absolute
      top: 5px
      left: 5px
      z-index: 2
      width: 95px
      height: 135px
      border: none
      .video-card
        height: 100%
      .video-card__name
        display: none
  &_active#{&}_3
    display: flex
    .video-body__item
      height: calc(100% / 4 - 10px)
      width: calc(100% - 10px)
      @include mobile-landscape
        height: calc(100% / 2 - 10px)
      @include mobile
        height: calc(100% / 2 - 10px)
        width: calc(100% - 10px)
    .video-card__name
      width: calc(100% - 2px)
      left: 1px
      bottom: 1px
  &_active#{&}_4
    display: flex
    .video-body__item
      height: calc(100% / 4 - 10px)
      width: calc(100% - 10px)
      @include mobile-landscape
        height: calc(100% / 3 - 10px)
      @include mobile
        height: calc(100% / 3 - 10px)
    .video-card__name
      width: calc(100% - 2px)
      left: 1px
      bottom: 1px
  &_active#{&}_5
    display: flex
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
      @include mobile-landscape
        height: calc(100% / 2 - 10px)
        width: calc(100% / 2 - 10px)
      @include mobile
        height: calc(100% / 4 - 10px)
        width: calc(100% - 10px)
    .video-card__name
      width: calc(100% - 2px)
      left: 1px
      bottom: 1px
    + .video-body__selected-item
      width: 80%
      @include mobile-landscape
        width: 40%
      @include mobile
        width: 70%
  &_active#{&}_6
    display: flex
    .video-body__col
      width: calc(100% / 5)
      height: 100%
      @include mobile
        order: -1
    .video-body__col_2
      display: flex
      flex-wrap: wrap
      width: calc(100% / 5 * 4)
      height: calc(100%)
      @include mobile-landscape
        flex-direction: column
      .video-body__item
        width: calc(100% / 4 - 10px)
        @include mobile-landscape
          order: -1
      .video-body__selected-item
        @include mobile-landscape
          height: calc(100% - 10px)
          width: calc(100% / 4 * 3 - 10px)
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
    .video-card__name
      @include mobile
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
    .video-body__selected-item
      width: calc(100% - 10px)
      height: calc(100% / 4 * 3 - 10px)
  &_active#{&}_7
    display: flex
    .video-body__col
      width: calc(100% / 5)
      height: 100%
      @include mobile
        order: -1
    .video-body__col_2
      display: flex
      flex-wrap: wrap
      width: calc(100% / 5 * 4)
      height: calc(100%)
      @include mobile-landscape
        flex-direction: column
      .video-body__item
        width: calc(100% / 4 - 10px)
        @include mobile-landscape
          order: -1
      .video-body__selected-item
        @include mobile-landscape
          height: calc(100% - 10px)
          width: calc(100% / 4 * 3 - 10px)
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
    .video-card__name
      @include mobile
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
    .video-body__selected-item
      width: calc(100% - 10px)
      height: calc(100% / 4 * 3 - 10px)
  &_active#{&}_8
    display: flex
    .video-body__col
      width: calc(100% / 5)
      height: 100%
    .video-body__col_2
      display: flex
      flex-wrap: wrap
      width: calc(100% / 5 * 4)
      height: calc(100%)
      @include mobile-landscape
        flex-direction: column
      .video-body__item
        width: calc(100% / 4 - 10px)
        @include mobile-landscape
          order: -1
      .video-body__selected-item
        @include mobile-landscape
          height: calc(100% - 10px)
          width: calc(100% / 4 * 3 - 10px)
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
    .video-card__name
      @include mobile
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
    .video-body__selected-item
      width: calc(100% - 10px)
      height: calc(100% / 4 * 3 - 10px)
  &_active#{&}_9
    display: flex
    .video-body__col
      width: calc(100% / 5)
      height: 100%
    .video-body__col_2
      display: flex
      flex-wrap: wrap
      width: calc(100% / 5 * 4)
      height: calc(100%)
      @include mobile-landscape
        flex-direction: column
      .video-body__item
        width: calc(100% / 4 - 10px)
        @include mobile-landscape
          order: -1
      .video-body__selected-item
        @include mobile-landscape
          height: calc(100% - 10px)
          width: calc(100% / 4 * 3 - 10px)
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
    .video-card__name
      @include mobile
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
    .video-body__selected-item
      width: calc(100% - 10px)
      height: calc(100% / 4 * 3 - 10px)
  &_active#{&}_10
    display: flex
    @include mobile
      flex-direction: column
    .video-body__col
      width: calc(100% / 5)
      height: 100%
      @include mobile-landscape
        order: -1
      @include mobile
        order: -1
        height: 50%
    .video-body__col_2
      display: flex
      flex-wrap: wrap
      width: calc(100% / 5 * 3)
      height: calc(100%)
      @include mobile-landscape
        flex-direction: column
      @include mobile
        width: calc(100% / 5 * 4)
      .video-body__item
        width: calc(100% / 3 - 10px)
        @include mobile-landscape
          order: -1
        @include mobile
          height: calc(100% / 8 - 10px)
          width: calc(100% / 4 - 10px)
      .video-body__selected-item
        @include mobile-landscape
          height: calc(100% - 10px)
          width: calc(100% / 3 * 2 - 10px)
        @include mobile
          height: calc(100% / 8 * 7 - 10px)
    .video-body__item
      width: calc(100% - 10px)
      height: calc(100% / 4 - 10px)
    .video-card__name
      @include mobile
        width: calc(100% - 2px)
        left: 1px
        bottom: 1px
    .video-body__selected-item
      width: calc(100% - 10px)
      height: calc(100% / 4 * 3 - 10px)

.video-body__item
  margin: 5px 5px
  width: calc(100% / 4 - 10px)
  height: calc(100% / 3 - 10px)
  @include mobile-landscape
    width: calc(100% / 5 - 10px)
    height: calc(100% / 2 - 10px)
  @include mobile
    width: calc(100% / 2 - 10px)
    height: calc(100% / 5 - 10px)


.video-body__selected-item
  width: 80%
  flex-shrink: 0
  height: calc(100% - 10px)
  margin: 5px
  @include mobile
    width: 60%
  .video-card__name
    width: 250px
    bottom: 7px
    left: 10px
    @include tabletSmall
      width: calc(100% - 2px)
      bottom: 1px
      left: 1px

.video-body__row
  display: flex
  @include tabletSmall
    flex-direction: column
    height: 546px
    flex-wrap: wrap
    margin-bottom: 10px

.video-body__col
  display: flex
  flex-direction: column
  justify-content: flex-end
  @include mobile
    justify-content: flex-start

.video-body__side-info
  width: 308px
  flex-shrink: 0
  @include mobile
    order: -1
    margin-bottom: 20px

.side-info
  overflow-y: scroll
  padding-right: 14px
  padding-left: 40px
  box-sizing: border-box
  max-height: 700px

  &::-webkit-scrollbar
    width: 4px
    @include mobile
      width: auto

  &::-webkit-scrollbar-track
    background-color: #C4C4C4
    border-radius: 2px
    @include mobile
      background-color: transparent
      border-radius: 0

  &::-webkit-scrollbar-thumb
    background-color: $gray
    border-radius: 2px
    height: 100px
    @include mobile
      background-color: transparent

  @include mobile
    width: 100%
    padding: 0 10px

.side-info__heading
  margin-top: 15px
  @include fontWSCL(bold, 18px, $gray, 21px)

.side-info__text
  margin-top: 37px
  @include fontWSCL(normal, 15px, $gray, 17px)
  text-align: justify
  opacity: 0.8

.side-info__footer
  border-top: 3px solid #C69776
  padding-top: 40px
  box-sizing: border-box
  display: flex
  flex-wrap: wrap
  margin-top: 70px

.side-info__file
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 10px 10px

.side-info__file-img
  display: flex
  justify-content: center
  align-items: center

.side-info__file-text
  @include fontWSCL(normal, 15px, $gray, 17px)
  margin-top: 5px